html,body{
    margin:0;
    padding:0;
    height: 100%;
}

.productcontainer{
    width:400px;
    min-height: 400px;
    background-color:#bbb;
    border-radius:5px;
    padding:20px;
    margin:20px;
    display: inline-block;
    float:left;
    overflow:hidden;
    cursor:pointer;
}
.productcontainer:hover{
    background-color:#999;
}
.miniproductcontainer{
    width:280px;
    display:block;
}
.productcontainer a{
    text-decoration:none;
    background-color:#444;
    padding:4px;
    border-radius:3px;
    color:#fff;
}
.main{
    width:calc(100% - 370px);
    padding-left:50px;
    height: 100%;
    display: inline-block;
    float:left;
}
.sidepanel{
    color:#fff;
    float:right;
    width:300px;
    margin-left:20px;
    padding:10px;
    height: 100%;
    background-color:#1b6d85;
    display: inline-block;

}
table {
    color: #333; /* Lighten up font color */
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    width: 640px;
    border-collapse:
    collapse; border-spacing: 0;
}

td, th { border: 1px solid #CCC; height: 30px; } /* Make cells a bit taller */

th {
    background: #F3F3F3; /* Light grey background */
    font-weight: bold; /* Make sure they're bold */
}

td {
    background: #FAFAFA; /* Lighter grey background */
    text-align: center; /* Center our text */
}
